body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-color: #CAB9B9;

  font-family: "Shippori Antique", sans-serif;
}

.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow-x: hidden;
}

.main .hero {
  padding: 7rem 5rem 5.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .hero .spotlight {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .hero .title {
  width: 100%;
  margin: 0;
}

.main .hero .title a {
  width: 100%;
  text-decoration: none;
}

.main .hero .title a img {
  margin-left: -2%;
  width: 105%;
}

.main .hero .spotlight .text {
  position: absolute;
  left: 0.25rem;
  bottom: -2.54rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  pointer-events: none;
  z-index: 2;
}

.main .hero .spotlight .picture {
  width: 100%;
  aspect-ratio: 15.41 / 25.99;
}

.main .hero .spotlight .picture .abstract {
  width: 100%;
  height: 100%;

  display: block;
  
  object-fit: cover;
  opacity: 75%;
}

.main .hero .spotlight .picture .human {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  object-fit: cover;

  transition: .5s ease;
}

.main .hero .spotlight .picture:hover .human {
  opacity: 1;
}

.main .hero .spotlight h2 {
  margin: 0;
  
  color: #FFFFFF;
  font-size: 2.62rem;
  font-weight: 100;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  line-height: 107%;
  font-feature-settings: "frac";
}

.main .hero .spotlight h1 {
  margin: 0;
  
  color: #000000;
  font-size: 2.62rem;
  font-weight: 400;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  line-height: 107%;
  font-feature-settings: "frac";
}

.main .hero .spotlight .indicator {
  position: absolute;
  top: -1rem;
  right: -5.9rem;
  
  display: inline-block;

  pointer-events: none;
}

.main .hero .spotlight .indicator .overlay {
  position: absolute;
  top: 54%;
  left: 51%;
  
  color: #FFFF0A;
  font-size: 37%;
  font-family: Rubik, sans-serif;
  font-variation-settings: 'wght' 600;
  letter-spacing: 0.21rem;
  text-align: center;
  text-wrap: wrap;
  word-wrap: normal;
  
  transform: translate(-50%, -53%);
  z-index: 10;
}

.main .hero .spotlight .indicator .overlay span {
  display: block;
  line-height: 0.8rem;
}

.main .hero .arrow {
  width: 1.48rem;
  height: auto;
  margin-top: 6.35rem;
}

.main .contact a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.main .contact a .bar {
  padding: 0.6rem 1.8rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #DEDBDB;

  border-top: 1.5px solid #000000;
  border-bottom: 1.5px solid #000000;
}

.main .contact a .bar h2 {
  color: #000000;
  font-family: Work Sans, sans-serif;
  font-size: 0.70rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.main .contact a .bar .line {
  flex: 1;
  width: 100%;
  height: 0.05rem;
  margin: 0 0.6rem;

  background: #000000;
}

.main .content {
  padding: 1.1rem 1.875rem;

  background-color: #DEDBDB;

  background-image: url("../assets/imgs/dashed-line.svg");
  background-repeat: no-repeat;
  background-position: 11% 23.5%;
  background-size: 75%;
}

.main .content h2 {
  margin: 0;
  margin-top: 1.69rem;
  margin-bottom: 0.84rem;

  color: #000000;
  font-size: 1.12rem;
  font-weight: 400;
  letter-spacing: 0.42rem;
  text-transform: uppercase;
  text-align: center;
  font-feature-settings: "frac";
}

.main .content .project {
  padding: 3.55rem 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4.1rem;
}

.main .content .project:first-of-type {
  margin-bottom: 0.7rem;
}

.main .content .project .carrousel {
  position: relative;

  width: 494px;
}

.main .content .project .carrousel .items {
  width: 100%;
  height: 100%;
}

.main .content .project .carrousel .control-prev,
.main .content .project .carrousel .control-next {
  position: absolute;
  top: 50%;

  width: 44px;
  height: 44px;

  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  border: none;
  box-shadow: none;
  outline: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.main .content .project .carrousel .control-prev {
  left: 10px;
}

.main .content .project .carrousel .control-next {
  right: 10px;
}

.main .content .project .carrousel .control-prev img,
.main .content .project .carrousel .control-next img {
  width: 40px;
  height: 40px;

  transform: 0.8s ease;
}

.main .content .project .carrousel .control-prev:hover img,
.main .content .project .carrousel .control-next:hover img {
  opacity: 0.8;
}

.main .content .project .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main .content .project .info br {
  display: block; 
  content: "";
  margin-top: 0;
  margin-bottom: 1rem;
}

.main .content .project .info .title {
  padding: 0;
  margin: 0;
  margin-bottom: 2.5rem;

  color: #000000;
  font-size: 1.5rem;
  font-variation-settings: "wght" 550;
  text-transform: uppercase;
  text-decoration: none;
}

.main .content .project .info p {
  margin: 0;
  margin-bottom: 2rem;

  color: #222222;
  font-family: Work Sans, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.013rem;
}

.main .content .project .info .link {
  color: #e1dedb;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.38rem;
  font-feature-settings: "frac";
}

.main .content .project .info a:hover {
  text-decoration: none;
}

.main .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .about .title {
  width: 100%;
  padding: 2.76rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main .about .title h2 {
  margin: 0 2.76rem;
  
  color: #000000;
  font-family: Shippori Antique, sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.main .about .description {
  width: 100%;
  padding: 1.05rem 0;
  border-top: 0.05rem solid #FFFFFF;
}

.main .about .description p {
  margin: 0 1.25rem;

  color: #000000;
  font-family: Work Sans, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.main .about .card-wrapper {
  width: 100%;
  padding: 0.8rem 0 5rem 0;

  background-image: url("../assets/imgs/grid-mobile.svg");
  background-repeat: repeat;
  background-position: 50% 0%;
  background-size: 109.8%;
}

.main .about .card-wrapper .card {
  margin: 0 1.25rem;
  padding: 0.9rem;

  background: rgba(217, 217, 217, 0.47);
}

.main .about .card-wrapper .card p {
  margin: 0;
  
  color: #000000;
  font-family: Work Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.04rem;
}

.main .collaborations {
  background: #E8DCDC;
  border-bottom: 0.05rem solid #FFFFFF;

  .title {
    padding: 1.5rem 0;

    border-bottom: 0.05rem solid #FFFFFF;

    p {
      margin: 0;

      color: #000000;
      font-family: Shippori Antique, sans-serif;
      font-size: 0.78rem;
      text-transform: uppercase;
    }
  }

  .items {
    padding: 1.5rem 1.8rem 3rem 1.8rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;

    img {
      max-height: 3.55rem;
    }

    .pink, .wgsn {
      opacity: 80%;
    }

    .ch {
      opacity: 90%;
    }

    .hope {
      opacity: 70%;
    }
  }
}

.main .schools {
  padding: 2.5rem 2.5rem 3rem 2.5rem;

  .title {
    padding: 0;
    margin-bottom: 3rem;

    p {
      margin: 0;

      color: #000000;
      font-family: Shippori Antique, sans-serif;
      font-size: 0.78rem;
      text-transform: uppercase;
    }
  }

  .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    img {
      max-height: 2.89rem;
    }
  }
}

.main .services {
  padding-bottom: 3rem;

  border-top: 0.05rem solid #FFFF0A;

  .card {
    margin: 0 1.7rem;

    background: rgba(217, 217, 217, 0.47);
    border-left: 0.05rem solid #FFFFFF;
    border-right: 0.05rem solid #FFFFFF;
    border-bottom: 0.05rem solid #FFFFFF;

    .title {
      padding: 0;
      border-bottom: 0.05rem solid #FFFFFF;

      font-family: Shippori Antique, sans-serif;
      font-size: 0.78rem;
      text-transform: uppercase;
    }

    .list {
      padding: 0.7rem 1rem;

      color: #000000;
      font-family: Work Sans, sans-serif;
      font-size: 0.78rem;
      line-height: 130%;
      
      p {
        margin: 0;
      }

      ul {
        margin: 0;
        margin-top: 1.2rem;
        padding-left: 1.3rem;

        li {
          margin-bottom: 0.4rem;
          padding-left: 0.5rem;

          &::marker {
            content: url("../assets/icons/marker.svg");
          }
        }
      }
    }
  }
}

.main .footer {
  padding: 2.5rem 3rem;
  background: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  form {
    padding: 0 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Tilt Warp, sans-serif;
    font-size: 0.78rem;

    p {
      margin: 0;    
      margin-bottom: 2rem;

      color: #FFFFFF;
      text-transform: uppercase;
      text-align: center;

      a, a:visited {
        color: #FFFF0A;
      }
    }

    input, textarea {
      width: 100%;
      margin-bottom: 0.8rem;
      padding: 0.5rem;

      background: #FFFFFF;
      border-radius: 0;
      border: none;
      outline: none;

      color: #000000;
      font-family: Tilt Warp, sans-serif;
      font-size: 0.78rem;

      &::placeholder {
        color: #969696;
      }
    }

    input[type="text"] {
      height: 5rem;                                                                                                                                                                                                                                                                                                     
    }

    submit {
      margin-top: 0.5rem;
      padding: 0.2rem 1rem;

      color: #FFFF0A;
      text-transform: uppercase;

      background: transparent;
      border: 1px solid #FFFF0A;
    }
  }

  .social-networks {
    width: 100%;
    height: 17px;
  }
}

.main .footer span {
  color: #e1dedb;
  font-size: 9px;
  opacity: 0.5;
}

.tns-slider {
  display: flex;
}